@import "../styles.scss";

.header {
  background-color: $color-dark;
  height: $header-height;
  display: flex;
  align-items: center;
  ul {
    list-style: none;
    font-size: large;
    li {
      display: inline-block;
      margin: 0 5px;
      color: $color-light;
      &:hover {
        color: $color-1;
        cursor: pointer;
      }
    }
  }
}
